.back {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background-image: url('./images/F\ \(1\).jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper {
  width: 420px;
  background: rgb(35, 31, 32);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
  margin: 0 auto;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 50px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}
.input-box input::placeholder {
  color: #fff;
}

.wrapper button {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 700;
}

.wrapper .register-button {
  font-size: 15px;
  text-align: center;
  margin: 20px 0 15px;
}


.register-container {
  text-align: center; /* Center the text and link/button */
  margin-top: 20px; /* Adjust the margin as needed */
}

.register-button {
  display: inline-block; /* Make the link look like a button */
  padding: 10px 20px;
  background-color: grey; /* Adjust the color as needed */
  color: black; /* Set text color to black */
  font-weight: bold; /* Make the text bold */
  border-radius: 5px; /* Rounded corners */
  text-align: center;
  text-decoration: none; /* Remove underline */
  border: none;
  cursor: pointer;
}

.register-button:hover {
  background-color: darkgrey; /* Darken the color on hover */
}
/*  */

